.container-fluid{
  position: relative;
  text-align: center;
  color:white;
}
.txt{
  position: absolute;
  top:45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
  font-size: 70px;
}
@media screen and (max-width: 480px) {
  h1 {
    padding-top:300px;
  }
}
@media screen and (max-width: 1000px) {
  h1 {
    padding-top:300px;
  }
}
@media screen and (max-width: 620px) {
  h1 {
    padding-top:300px;
  }
}
h3{
  font-size:30px;
  font-weight: 400;
  padding-bottom: 30px;
}
h2{
  font-size: 40px;
  font-weight: 300;
}
body{
  background-color: black;
}

*{
  padding: 0%;
  margin: 0%;
}
.me{
  box-shadow: 0 0 20px rgba(250, 247, 247, 0.959);
  margin:30px;
  padding:30px;
 
}
@media screen and (max-width: 480px) {
  .me {
    box-shadow: 0 0 20px rgba(250, 247, 247, 0.959);
  margin:10px;
  padding:10px;
  }
}
@media screen and (max-width: 620px) {
  .me {
    box-shadow: 0 0 20px rgba(250, 247, 247, 0.959);
  margin:5px;
  padding:5px;
  }
}
.progress-label {
  float: left;
  margin-left: 30px;
  color: white;
}
@media screen and (max-width: 480px) {
  #About{
    margin-bottom: 200px;
}
}
@media screen and (max-width: 620px) {
  #About{
    margin-bottom: 200px;
}
}
@media screen and (max-width: 1000px) {
  #About{
    margin-bottom: 200px;
}
}
.card h2{
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center;
}
.card:hover{
  background:black;
  color: white;

}
.b{
  position:absolute;
  bottom:0;
  left:25%;
  margin-bottom: 10px;
  padding-top: 20px;
}
.btn{
  display: inline-block;
  width:100%;
  background: green;
  color: #fff;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: 25%;
  margin-right:25%;

}
.card{
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 30px;
  margin: 10px 10px;
  
}
.row{
  padding-top: 30px;
}
.card img{
  border-top-left-radius:30px;
  border-top-right-radius: 30px;
}
p{
  margin-top: 10px;
}
.get_in_touch{
  max-width:800px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
  padding: 30px;
}
.get_in_touch .title{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: #5543ca;
  background: linear-gradient(to right, #f4524d 0%,#5543ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-form .form-field{
position: relative;
margin: 32px 0;
}
.contact-form .input-text{
  display: block;
  width: 100%;
  height: 36px;
  border-width:0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label{
  transform: translateY(-24px);
}
.contact-form .input-text:focus{
  outline: none;
}
.contact-form .label{
  position: absolute;
  left:20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor:text;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn{
  display: inline-block;
  background-image:linear-gradient(125deg,#a72879,#064497) ;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  #Certifications{
  padding-left: 30px;
}
}